@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: rgb(155, 155, 155), 214);
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .alert {
    background-color: #000; /* Fondo negro */
    padding: 40px; /* Aumento del tamaño de relleno */
    border-radius: 5px;
    text-align: center;
    color: #fff; /* Texto blanco */
    font-size: 1.5em; /* Aumento del tamaño de la fuente */
    z-index: 2;
    border-radius: 40px;
    
  }
  
  /* Estilos para el botón Aceptar */
  .alert button {
    background-color: rgb(255, 255, 255); /* Fondo negro */
    color: rgb(0, 0, 0); /* Texto blanco */
    border: none;
    padding: 15px; /* Aumento del tamaño del relleno */
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px; /* Espaciado entre el texto y el botón */
    font-size: 0.8em; /* Aumento del tamaño de la fuente */
    
  }
  
  .alert button:hover {
    background-color: goldenrod; /* Color dorado al pasar el mouse */
  }



.header-content h2 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    
}

.gold-b {
    color: rgba(218, 165, 32, 0.5);
}

.container {
    max-width: 1200px;
    margin:0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/Fondo.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
}



.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 500;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: whitesmoke;
    display: block;
    font-weight: 400;
}

.menu .navbar ul li a:hover {
    color: rgb(228, 170, 25);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    margin-top: 20px;
    font-size: 75px;
    line-height: 80px;
    color: white;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 25px;
    color: white;
    padding: 0 100px;
    margin-bottom: 25px;
}

.header-content p .mini-txt {
    color:grey;
}

.gold {
    color: goldenrod;
}

.btn-1 {
    display: inline-block;
    font-weight: bold;
    padding: 11px 35px;
    background-color: rgba(36, 36, 36, 0.651);
    color: goldenrod;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: rgba(212, 212, 212, 0.397);
}


.btn-2 {
    display: inline-block;
    font-weight: bold;
    padding: 11px 35px;
    background-color: rgba(218, 165, 32, 0.548);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    
    
}

.btn-2:hover {
    background-color: goldenrod;
}





/* Comienzo con la primer section */


.starwars {
    padding: 0px 0;
    position: relative;
    /* background-image: url(../images/FONDOSWB.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.starwars-content {
    text-align: center;

}



.starwars-content h2{

    font-size: 55px;
    line-height: 70px;
    color:rgb(219, 157, 0);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.txt-p {
    font-size: 25px;
    color:rgb(17, 17, 17);
    padding: 0 130px;
    margin-bottom: 35px;
}

.starwars-group {
    display:flex;
    justify-content: space-around;
}

.starwars-group a img{
    max-width: 35px;
}
 

.starwars-1,.starwars-2,.starwars-3 {
    padding: 25px;
}

.starwars-1:hover {
    background-image: url(../images/starwars2fondo.png);
    font-size: 30px;
    padding: 25px;
    color: goldenrod;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
}


.starwars-2:hover {
    background-image:url(../images/starwars1fondo.png);
    font-size: 30px;
    padding: 25px;
    color: goldenrod;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
}

.starwars-3:hover {
    background-image:url(../images/starwars3fondo.png);
    font-size: 30px;
    padding: 25px;
    color: goldenrod;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
}

.starwars img {
    width: 200px;
    border-radius: 100px;
}

.starwars-img {
    position: absolute;
    top:0;
    right:0;

}

.starwars-1 h3{

    margin-bottom: 15px;
}

.window{
    background-image: linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.705)), url(../images/swA.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 60%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding:33px;
    height: 50%;
    border-radius: 25px;
    position: absolute;
    top: 25%;
    left: 20%;
    display: none;
}

.window2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.705)), url(../images/swB.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 60%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding:33px;
    height: 50%;
    border-radius: 25px;
    position: absolute;
    top: 25%;
    left: 20%;
    display: none;
}

.window3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.705)), url(../images/swC.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 60%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding:33px;
    height: 50%;
    border-radius: 25px;
    position: absolute;
    top: 25%;
    left: 20%;
    display: none;
}

#cerrar img {
    height:30px;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 20px;

}


.georgelucas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url(../images/georgelucasbackground.png);
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 70vh;
    display: flex;
    align-items: center;
    color: white;
}

.georgelucas-content {
    text-align: end;
    margin-right: 150px;
}

.georgelucas-content h2{
    font-size: 55px;
}

.georgelucas-text p {
    font-size: 30px;
}


/* Estilos para el contenedor de la imagen y texto */
.imagen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Fondo oscuro más opaco */
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 20px;
  }
  
  .imagen-container img {
    max-width: 70%;
    max-height: 80vh;
  }
  
  .texto-lateral {
    color: #fff;
    font-size: 1.5em;
    margin-left: 20px;
  }
  
  /* Estilo adicional para oscurecer el fondo cuando se muestra la imagen */
  body.dark-background {
    overflow: hidden; /* Evita que se haga scroll en el fondo oscuro */
  }

.resumen {
    display:flex;
}

.resumen-1 {
    width: 50%;
    padding: 50px 40px 50px 40px;
    max-height: 100vh;
    text-align: end;

}

.resumen-2 {
    
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.219),rgba(0, 0, 0, 0.219)), url(../images/anewhope1-Z.png);
}

.resumen-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.219),rgba(0, 0, 0, 0.219)), url(../images/anewhope2-Z.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    width: 50%;

}

.resumen-4 {
    width: 50%;
    padding: 75px 40px 50px 40px;
    max-height: 100vh;

}

.resumen h2 {
    font-weight: bold;
    font-size: 70px;
    line-height: 60px;
    color:rgb(224, 147, 31);

}

.resumen p {    
    font-size: 25px;
    color:rgb(17, 17, 17);
    margin: 15px 0 15px 0;
}

                        /* Estilo para ocultar el contenedor de spoilers */
                        .spoilers-container {
                            display: none;
                        }

                        /* Estilo para oscurecer el fondo al mostrar spoilers */
                        body.show-spoilers .overlay {
                            display: flex;
                        }
                        
                        body.show-spoilers .spoilers-container {
                            display: flex;
                        }
                        
                        .spoilers-container {
                            display: none;
                            position: fixed;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: rgba(0, 0, 0, 0.9); /* Fondo oscuro más opaco */
                            padding: 20px;
                            border-radius: 10px;
                            color: #fff; /* Texto blanco */
                            z-index: 3;
                        }
                        
                        .spoilers-container img {
                            max-width: 50vw; /* Ajusta el tamaño máximo de la imagen según tus necesidades */
                            max-height: 70vh; /* Ajusta el tamaño máximo de la imagen según tus necesidades */
                            margin-right: 20px; /* Espaciado entre la imagen y el texto */
                        }
                        
                        .spoilers-container p {
                            font-size: 1.2em; /* Tamaño de la fuente del texto */
                            margin: 0; /* Elimina el margen predeterminado del párrafo */
                        }
                        
                        /* Estilo adicional para oscurecer el fondo cuando se muestra la imagen */
                        body.show-spoilers {
                            overflow: hidden; /* Evita que se haga scroll en el fondo oscuro */
                        }







/* Estilos para el contenedor de la imagen y texto */
.imagen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Fondo oscuro más opaco */
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 20px;
  }
  
  .imagen-container img {
    max-width: 70%;
    max-height: 80vh;
  }
  
  .texto-lateral {
    color: #fff;
    font-size: 1.5em;
    margin-left: 20px;
  }
  
  /* Estilo adicional para oscurecer el fondo cuando se muestra la imagen */
  body.dark-background {
    overflow: hidden; /* Evita que se haga scroll en el fondo oscuro */
  }





  /* Estilos para el contenedor de la imagen y texto */
.poster-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Fondo oscuro más opaco */
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 20px;
  }
  
  .poster-container img {
    max-width: 70%;
    max-height: 80vh;
  }
  
  
  /* Estilo adicional para oscurecer el fondo cuando se muestra la imagen */
  body.dark-background {
    overflow: hidden; /* Evita que se haga scroll en el fondo oscuro */
  }

               
            

.saga {
    padding: 50px 0;
    text-align: center;
    color: white;
}

.saga .saga-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;

}


.saga h2{
    font-size: 55px;
    line-height: 70px;
    color:rgb(219, 157, 0);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}



.container-pelicula {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 15px 30px 15px 30px;
    opacity: 0.5;
    
    /* Margen */
    margin-bottom: 20px;
    
    /* Borde */
    border-radius: 15px;

    min-height: 15vw;
}

.container-pelicula:hover{
    opacity: 1;
}

.pelicula {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Margen */
    margin: 10px 10px 10px 10px;

    /* Estilo de la fuente */
    text-align: center;

    /* Overflow */
    overflow: hidden; /* Hace que el contenido no salga de la caja */
    overflow-wrap: break-word; /* Rompe palabras largas cuando no cabe en la caja */

}

.pelicula h4{
    font-size: 23px;
}

.pelicula p {
    font-size: 20px;
}
 

#sw1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/1sw.jpg)
}

#sw2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/2sw.jpg)
}

#sw3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/3sw.jpg)
}

#sw4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/4sw.jpg)
}

#sw5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/5sw.jpg)
}

#sw6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/6sw.jpg)
}

#sw7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/7sw.jpg)
}

#sw8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/8sw.jpg)
}

#sw9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/9sw.jpg)
}


.pelis{
	/* Estilos del fondo */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/fondd.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}















.en1977 {
    padding: 50px 0;
    text-align: center;
}

.en1977-content {
    display: flex;
    justify-content: space-between;

}

.en1977-1 {
    padding: 15px 20px;

}

.en1977-1 video {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.en1977-1 img {
    width: 300px;
    height: 450px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.en1977-1 h3 {
    font-size: 25px;
    color:rgb(32, 32, 32);
    margin-bottom: 20px;
}

.en1977 h2{
    font-size: 55px;
    line-height: 70px;
    color:rgb(219, 157, 0);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.en1977 h3:hover{

    color:goldenrod;

}

.en1977-1:hover {
    background-image:url(../images/1977fondob.png);
    font-size: 18px;
    padding: 25px;
    color: whitesmoke;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}







.quiz {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url(../images/darthvader.jpg);
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 70vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;

}

.quiz h2{
    font-size: 55px;
    text-align: center;
}
 
#next-button, #restart-button {
    background-color: #3f3f3f; /* Color de fondo */
    color: goldenrod; /* Color del texto */
    padding: 10px 20px; /* Relleno interno del botón */
    font-size: 16px; /* Tamaño del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
 
    justify-content: center;
}

/* Cambiar color de fondo al pasar el ratón sobre el botón */
#next-button:hover, #restart-button:hover {
    background-color: #7c7c7c;
}



#quiz-container {
    max-width: 600px;
    margin: auto;
}

#options-container button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}







.form {
    padding: 50px 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url(../images/fondoform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    

}

.lista {
    color:grey;
}

.comentarios-content {
    display: flex;
    justify-content: space-between;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.comentarios-1 { 
    padding-right: 80px;
}


.comentarios-1 img {
    width: 250px;
    margin-bottom: 15px;
}


.comentarios {
    max-width: 1200px;
    margin:0 auto;
}

.comentarios h2{
    font-size: 55px;
    line-height: 70px;
    color:rgb(219, 157, 0);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.comentarios-2 .formulario-content {
    text-align: left;
    padding-left: 20px;
}



/* inicio estilos del footer */
footer {
    display: gid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
	align-items: center;
	background-color: rgb(5,5,5);
    
}

.footernav {
    text-align: end;
}


footer a{
    padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
}

footer p{
    margin: 0;
	padding: 10px 15px;
    padding-bottom:15px;
	font-size: 1em;
	font-weight: bold;
	color: white;
}

footer .copyright{
    text-align: center;
    margin-bottom: 10px;
}
/* fin estilos del footer */

footer .footernav a {
    color: whitesmoke;
}

footer .footernav a:hover {
    color: rgb(228, 170, 25);
}

@media(max-width:1250px){
    #georgel{
        display: none
    }

    .texto-lateral {
        text-align: center;
    }
}

@media(max-width:991px){
    /* .menu {
        padding: 30px;
    } */
    .menu label {
        display:initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:rgb(8, 8, 8);
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;

    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p{
        padding: 0;
    }

 

    .starwars {
        padding: 30px;
    
    }

    .starwars-content h2 {
        padding: 0;
    }
    
    .txt-p {
        padding: 0;
    }

    .starwars-group {
        flex-direction: column;
        margin-bottom: 0;
    }

 
    .georgelucas {
        padding-left: 180px;

    }

    .georgelucas-content{
        padding: 0;
        margin-right: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
        padding:15px;
    }
    
    .resumen {
        flex-direction: column;

    }

    .resumen-1, .resumen-4 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .resumen-2, .resumen-3 {
        display: none;
    }

    .saga {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .saga .saga-content {
        grid-template-columns: 1fr;
    }
    
    .container-pelicula .pelicula {
        min-height: 130px;

    }

    .saga h2{
        padding: 0;
    }

    .en1977 {
        padding: 30px;
    }

    .en1977 h2 {
        padding: 0;
    }

    .en1977-content {
        flex-direction: column;
        margin-bottom: 0;
        padding: 0;
    }

    .comentarios {
        padding: 30px;
    }

    .comentarios h2 {
        padding: 0;


    }

    .comentarios-1 { 
        padding-right: 0px;
    }


    .comentarios-content {
        flex-direction: column;
        margin-bottom: 0;
        padding: 0;
        grid-template-columns: 1fr;
    }

 
    .resumen-1{
        padding-top: 40px;
    }

    .resumen-4 {
        padding-top: 5px;
        padding-bottom: 40px;
    }
    
}




























/* PAGE "TRAMA" */



.header-content .title-hero-2 {
    font-size:150px;
}

.header-content .title-hero-1 {
    font-size:100px;
}




